:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font-family: var(--sans);
  color: #0c1f35;
  background: #f4f7fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
  min-width: 320px;
}
